* {
    text-align: justify;
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: 50px;
    width: auto;
    background-color: black;
    box-shadow:0px 1px 25px black;
    ;
}

img{
    height: 100%;
    margin-left: 20px;
}
.body {
    margin-left: 50px;
    margin-right: 50px;
}
